<%- include('partials/header',{title: 'Home'})%>
<div class="main-container">
  <h1>Welcome to the greatest collection of Afghan Proverbs! 🌎</h1>
  <div class="content">
    <a href="/proverbs"> All Proverbs</a>
    <span>Know a new proverb? 👉</span>
    <a href="/proverbs">Add a new Proverb</a>
  </div>
</div>

<%- include('partials/footer')%>
