<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | Afghan Proverbs</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/">Home</a>
      <span class="navbar-text">Know a new Proverb?</span>
      <a href="/add">Add a new Proverb</a>
    </nav>
  </body>
</html>
